.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sideSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.number {
  font-family: "Geometria Bold";
}
.copyright {
  font-family: "Geometria";
}


.logo {
  background-image: url(../../../public/icons/logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
  aspect-ratio: 101 / 39;
  height: 8vw;
}

.mediaContainer {
  display: flex;
  justify-content: space-between;

  min-width: 13vw;
}
.mediaIcon {
  background-size: contain;
  height: 30px;
  aspect-ratio: 1 / 1;
}
.wa {
  background-image: url(../../../public/icons/wa.svg);
}