.itemCard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1vw;

  margin-bottom: 2vw;

  transition: background 0.15s;
}
.itemCard:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.imgSection {
  aspect-ratio: 1 / 1;

  background-repeat: no-repeat;
  background-size: contain;

  border: 1px solid hsla(0, 0%, 0%, 0.1);
  box-sizing: border-box;
}
.notImgSection {
  aspect-ratio: 1 / 1;

  display: grid;
  grid-template-rows: max-content 1.8fr 1px 1fr max-content;
  grid-row-gap: 0.3vw;
}

.name {
  padding-top: 0.3vw; /* small deco fix */
  padding-left: 0.3vw; /* small deco fix */
  margin-left: -0.3vw; /* small deco fix */

  margin-bottom: 0.7vw;

  font-family: "Geometria";
  font-size: 1.6vw;

  background-color: var(--pink-color);
}
.desc {
  font-family: "Geometria";
  font-size: 1.6vw;

  overflow-y: auto;
  text-overflow: ellipsis;
}
.separator {
  width: calc(100% - 0.5vw);
  height: 1px;
  background-color: black;
}
/* scrollbar customization */
.desc > div {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.5) transparent;
}
.desc > div::-webkit-scrollbar {
  width: 5px;
}
.desc > div::-webkit-scrollbar-track {
  background: transparent;
}
.desc > div::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}


.price {
  font-family: "Geometria";
  font-size: 1.6vw;

  margin: 0.6vw 0;
}
.amountBtnWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.numBtn {
  font-family: "Geometria";
  margin: 0 5%;
}
.lessBtn, .moreBtn {
  font-family: "Geometria";
}
.lessBtn:hover, .moreBtn:hover {
  border-color: var(--pink-color);
  background-color: var(--pink-color);
}


.lessBtn, .numBtn, .moreBtn {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.4vw;

  aspect-ratio: 1 / 1;
  height: 60%;

  border: 1px solid rgba(0, 0, 0, 0.5);
}